<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mobile Ticket Viewer</title>
</head>
<body>
  <h2> Mobile Ticket Viewer</h2>
  <h2>Oh no, something went wrong</h2>
  <pre>
    <%= errorMessage %> 
  </pre>
</body>
</html>